{% extends "ProyectoWebApp/base.html" %}

{% load static %}
{% load crispy_forms_tags %} 

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-8 offset-md-2">
                <h2 class="mb-4">Registro</h2>
                <form method="post" action=""> 
                    {% csrf_token %} 
                    <!-- Include the form fields defined in forms.py -->
                    {{ form.as_p }}
                    <button type="submit" class="btn btn-success"> Registrarse </button> 
                </form>
            </div>
        </div>
    </div>
{% endblock %}